.a1{
    width: 100px;
    height: 100px;
    background-color: bisque;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}
.a2{
    width: 500px;
    height: 500px;
    background-color: blueviolet;
    border: 2px dashed red
}